.element__like {
  margin-right: 21px;
  width: 26px;
  height: 19px;
  background: url('../../../images/element_like.svg') center no-repeat;
  border: none;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

.element__like:hover {
  opacity: .5;
}
