.header {
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 0 45px;
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
}

@media screen and (max-width: 880px) {
  .header {
    padding: 25px 25px 30px;
  }
}